.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 40px 120px; */
  color: #fff;
  padding-inline: 3rem;
  padding-top: 40px;

}
.nav-logo {
  font-size: 42px;
  font-weight: 500;
  cursor: pointer;
  font-family: outfit;
}
.nav-menu {
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 90px;
  justify-content: center;
  align-items: center;
}
.nav-menu li {
  cursor: pointer;
}
.nav-contact {
  background-color: #fff;
  color: #333;
  padding: 10px 38px;
  border-radius: 50px;
  color: #262626;
}
