/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.game {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}
.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    /* cursor: pointer; */
    font-weight: bold;
    user-select: none;
}
.cell.O {
    color: blue;
}
.cell.X {
    color: red;
}
.board {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.reset{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}