* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body{
    background-color: #0f172a;
    color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
   background-color: #1e293b;
   padding: 2rem;
   border-radius: 12px;
   box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
   width: 100%;
   max-width: 400px;
   min-width: 360px;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   /* text-align: center; */
   
}


h1{
    color: #3b82f6;
    margin-bottom: 1rem;
}
label{
    margin-bottom: -0.5rem;
}

input{
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    background-color: #334155;
    color: #f1f5f9;
}

button{
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    background-color: #3b82f6;
    color: #f1f5f9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem;
}
button:hover{
    background-color: #1e40af;
}

.result {
    margin-top: .5rem;
    font-weight: 600;
    color: #60a5fa;
    text-align: center;
    font-size: 1.2rem;

}