*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #ced8ff;
    transition: all .3s ease-in-out;
}

.container.dark{
    background-color: #222;
}