.todo {
    max-width: 600px;
    border-radius: 20px;
    background-color: #fff;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: column;
    padding: 0 44px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.todo-header {
    margin-top: 30px;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
}

.todo-add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.todo-add .todo-input {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    height: 40px;
    border: none;
    background-color: #edeff0;
}
.todo-add .todo-add-btn {
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #0b54ca;
    color: #fff;
    cursor: pointer;
}

.todo-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list .item {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #edeff0;
    color: #002765;
    font-size: 20px;
}

.todo-list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    word-break: break-all;
}

.todo-list .item .close {
    cursor: pointer;
    color: #d2185f;
    font-weight: 600;
    min-width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}
img {
    width: 20px;
    height: 20px;
}
.todo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
}
