.App {
    margin: 50px 30px;
    border: 1px solid #d3d3d3;
    padding: 25px 15px;
    border-radius: 5px;
    max-width: 400px;
    margin: 100px auto;
}
h2 {
    text-align: center;
}
.todo-container {
    word-break: break-all;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.todo-container ul li {
    word-break: break-all;
    overflow-wrap: break-word;
    width: 80%;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

input {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
ul {
    list-style-type: decimal;
}
button {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}
.done {
    text-decoration: line-through;
    color: #8f8989;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: 500;
}

* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}
