.hero {
  height: 100vh;
  padding-top: 80px; /* header height */
  padding-inline: 3rem;
  padding-bottom: 2rem;
  color: #fff;
}

.hero-text {
  color: #fff;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 500;
}

.hero-explore {
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;

  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
.hero-explore p {
  font-size: 20px;
  font-weight: 500;
  color: #292929;
}

.hero-dot-play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
  cursor: pointer;
}

.hero-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.hero-dots .dot.active {
  background-color: orangered;
}

.hero-play {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}


.stop-nav{
  padding: 5px 12px;
  border-radius: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.next{
  padding: 5px 12px;
  border-radius: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}